In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

ModuleNotFoundError: No module named 'datascience'

## Creating a Table from Scratch ##

In [ ]:
Table()

In [3]:
colleges = make_array('CICS', 'CNS', 'Engineering',"HFA", "SBS","Management")
umass = Table().with_column('Colleges', colleges)
umass

NameError: name 'make_array' is not defined

In [ ]:
enrollments = make_array(1110,6446,2202,1808,4018,3582)
umass = umass.with_column('Enrollment',enrollments)
umass

In [ ]:
new_umass = Table().with_columns('Colleges', colleges, 
                                 'Enrollment',enrollments)
new_umass

## Reading a Table from a File  ##

In [ ]:
minard = Table.read_table('minard.csv')
minard

## Accessing a Column as an Array ##

In [ ]:
minard.column('Survivors')

In [ ]:
minard.column(4)

In [ ]:
initial = minard.column(4).item(0)

In [ ]:
proportion_surviving = minard.column(4) / initial
proportion_surviving

## Extending a Table with a New Column ##

In [ ]:
minard = minard.with_column('Percent Surviving', proportion_surviving)
minard

In [ ]:
minard.set_format(5, PercentFormatter)

In [ ]:
minard.column(5)

In [ ]:
minard.labels

In [ ]:
minard.relabeled('Percent Surviving', 'Percent of Survivors')

In [ ]:
minard.num_columns

In [ ]:
minard.num_rows

## Working with Columns ##

In [ ]:
movies = Table.read_table('movies_by_year_with_ticket_price.csv')
movies

In [ ]:
estimated_num_tickets = movies.column(2) * (10 ** 6) / movies.column(1)

In [ ]:
movies = movies.with_column('Estimated Tickets', estimated_num_tickets)
movies

In [ ]:
movies.set_format('Estimated Tickets', NumberFormatter)

In [ ]:
movies.plot('Year', 'Estimated Tickets')

## Rows ##

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('#1 Movie', are.equal_to('Avatar'))

In [ ]:
movies.where('#1 Movie', 'Avatar')

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
movies.where('Number of Movies', are.below(450))

In [ ]:
movies.where('Year', are.above(2010))

In [ ]:
movies.take(3)

In [ ]:
movies.take(np.arange(4))